doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='portfolio')
        meta(name='author', content='Liam McLeod')
        title McLeod :: Portfolio
        // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
        link(href='css/bootstrap.min.css', rel='stylesheet')
        // Custom CSS
        link(href='css/styles.css', rel='stylesheet')
    body#page-top.index
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header.page-scroll
                    //button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#page-top')
                        span| Liam
                            span
                                | M
                                sup c
                                | Leod
                // Collect the nav links, forms, and other content for toggling
                .collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.hidden
                            a(href='#page-top')
                        li.page-scroll
                            a(href='#portfolio') Portfolio
                        li.page-scroll
                            a(href='#about') About
                        li.page-scroll
                            a(href='#contact') Contact
                // /.navbar-collapse
            // /.container-fluid
        // Header
        header
            .container
                span.name Liam McLeod
        // Footer
        footer.text-center
            .footer-above
                .container
                    .row
                        .footer-col.col-md-4
                            h3 Location
                            p
                                | 3481 Melrose Place
                                br
                                | Beverly Hills, CA 90210
                        .footer-col.col-md-4
                            h3
                            // Social Media Links
                            ul.list-inline
                                li
                                    a.btn-social.btn-outline(href='#')
                                        i.fa.fa-fw.fa-facebook
                                li
                                    a.btn-social.btn-outline(href='#')
                                        i.fa.fa-fw.fa-google-plus
                                li
                                    a.btn-social.btn-outline(href='#')
                                        i.fa.fa-fw.fa-twitter
                                li
                                    a.btn-social.btn-outline(href='#')
                                        i.fa.fa-fw.fa-linkedin
                                li
                                    a.btn-social.btn-outline(href='#')
                                        i.fa.fa-fw.fa-dribbble
                        .footer-col.col-md-4
                            h3 About Me
                            p Freelance is a free to use, open source Bootstrap theme created by .
            .footer-below
                .container
                    .row
                        .col-lg-12
                            | Copyright © Liam McLeod 2016

        // Scroll to Top Button (Only visible on small and extra-small screen sizes)

        // Modals

        // jQuery
        script(src='js/vendor/jquery-2.2.0.min.js')
        // Bootstrap Core JavaScript
        script(src='js/vendor/bootstrap.min.js')
        // Plugin JavaScript
        script(src='js/plugins.js')
        // Custom JavaScript
        script(src='js/main.js')
        // Contact Form JavaScript
        //script(src='js/contact.js')//
   Created by dual1ty on 10/02/2016.

