doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='portfolio')
        meta(name='author', content='Liam McLeod')
        title McLeod :: Portfolio
        // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
        link(href='css/bootstrap.css', rel='stylesheet')
        // Custom CSS
        link(href='css/styles.css', rel='stylesheet')
    body#page-top.index

        // Navigation
        nav.navbar.bg-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#page-top')
                        span Liam
                            span M
                                sup c
                            |Leod
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Portfolio
                    li
                        a(href='#') About
                    li.dropdown
                        a.dropdown-toggle(href='#' data-toggle='data-toggle') Contact
                            span.caret
                            ul.dropdown-menu
                                li 491 Bexhill Rd
                                li St Leonards-on-sea
                                li East Sussex
                                li TN38 8AT
                                li United Kingdom

        // Header
        header
            .container

        //Main
        main
            .container

        // Footer
        footer.text-center
            .footer-above
                .container
            .footer-below
                .container


        // Scroll to Top Button (Only visible on small and extra-small screen sizes)

        // Modals

        // jQuery
        script(src='js/vendor/jquery-2.2.0.min.js')
        // Bootstrap Core JavaScript
        script(src='js/vendor/tether.js')
        script(src='js/vendor/bootstrap.min.js')
        // Plugin JavaScript
        script(src='js/plugins.js')
        // Custom JavaScript
        script(src='js/main.js')
        // Contact Form JavaScript
        //script(src='js/contact.js')