doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='portfolio')
        meta(name='author', content='Liam McLeod')
        title McLeod :: Portfolio
        // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
        link(href='css/bootstrap.min.css', rel='stylesheet')
        // Custom CSS
        link(href='css/styles.css', rel='stylesheet')
    body#page-top.index
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-brand.text-light(href='#page-top')
                    span Liam
                        span M
                            sup c
                            | Leod
                button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
                    span.sr-only Toggle
                        //☰
                    span.icon-bar Portfolio
                    span.icon-bar About
                    span.icon-bar Contact
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        li.active
                            a(href='sr-only') Portfolio
                        li
                            a(href='#About') About
                        li.dropdown
                            a(href='Contact') Contact

        // Header
        header
            .container

        //Main
        main
            .container

        // Footer
        footer.text-center
            .footer-above
                .container
            .footer-below
                .container


        // Scroll to Top Button (Only visible on small and extra-small screen sizes)

        // Modals

        // jQuery
        script(src='js/vendor/jquery-2.2.0.min.js')
        // Bootstrap Core JavaScript
        script(src='js/vendor/bootstrap.min.js')
        // Plugin JavaScript
        script(src='js/plugins.js')
        // Custom JavaScript
        script(src='js/main.js')
        // Contact Form JavaScript
        //script(src='js/contact.js')//
   Created by dual1ty on 10/02/2016.

