//
   Created by dual1ty on 10/02/2016.

// Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
a.btn.btn-primary(href='#page-top')
i.fa.fa-chevron-up